*, body, html {
    font-family: outfit, sans-serif;
    margin: 0;
    padding: 0;
}

body {
   background-color: hsl(217, 54%, 11%);
   display: flex;
   justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    margin-top: 15%;
    margin-bottom: 15%;
}

img {
    object-fit: cover;
    margin: 6%;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 6%;
    gap: 0.5em;
    margin-bottom: 0;
    margin-top: 0;
}

a {
    color: white;
    font-size: 20px;
}

.title p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    opacity: .75;
}

.offer { 
    display: flex;
    margin: 6%;
    border-bottom: solid;
    border-width: 2px;
    border-color: hsl(215, 32%, 27%);
    padding-bottom: 6%;
    align-items: center;
    height: 1em;
    gap: 1em;

}

.sig {
    display: flex;
    align-items: center;
    padding-top: 0;
    color: white;
    height: 1em;
}

.sig img {
    display: flex;
    height: 30px;
    border: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 1px;
}

 .offer #eth {
    color: hsl(178, 100%, 50%);
 }

#days {
    color: hsl(215, 51%, 70%)
}

.sig p {
    font-size: 14px;
}



